@rendermode InteractiveServer
<div class="editor-shell">
    <StandaloneCodeEditor @ref="HomeState.Editor"
                          Id="my-code-editor"
                          CssClass="editor-shell__editor"
                          ConstructionOptions="EditorConstructionOptions"
                          OnDidChangeModelContent="OnDidChangeModelContent" />
</div>
