<footer class="status-bar">
    <span class="session-id">Session ID: @HomeState.SessionId</span>
    <!-- <span><span class="status-bar__dot">●</span> CONNECTED: LOCAL_DB_01</span> -->
    <span>V2.4.1-ACADEMIC</span>
</footer>