@rendermode InteractiveServer

<header class="app-header">
    <div class="app-header__left">
        <span class="app-header__title">SQL VISUALIZER</span>
    </div>
    <div class="app-header__right">
        @*<i class="bi bi-gear-fill app-header__icon"></i>
        <i class="bi bi-moon-fill app-header__icon"></i>*@
        <button @onclick="ToggleSidebar"><i class="bi bi-layout-sidebar app-header__icon" ></i></button>
        @*<i class="bi bi-question-circle app-header__icon"></i>*@
        <InfoModal  />
    </div>
</header>