@rendermode InteractiveServer
@inherits QueryIllustrationViewBase
<div class="container">
    <div class="row">
        <div class="@(ShowAggregation ? "col-6" : "col-5")">
            <TableOchestra
                Tables="@FromTables"
            />
        </div>
        
        <div class="@(ShowAggregation ? "col-1" : "col-2")"></div>
        
        <div class="col-5">
            <TableOchestra
                Tables="ToTables"
            />
        </div>
    </div>
</div>