.query-illustration {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: max(100%, max-content);
}

.query-illustration__section {
    flex: 1 0 0;
    min-width: max-content;
}

.query-illustration__spacer {
    width: 8rem;
    flex: 0 0 auto;
}
