@rendermode InteractiveServer
@inherits QueryIllustrationViewBase

<div class="query-illustration">
    <div class="query-illustration__section">
        <h3>Source</h3>
        <TableOchestra
            Tables="@FromTables"/>
    </div>

    @if (!ShowAggregation)
    {
        <div class="query-illustration__spacer"></div>
    }

    <div class="query-illustration__section">
        <h3>Result</h3>
        <TableOchestra
            Tables="ToTables"/>
    </div>
</div>
