@rendermode InteractiveServer
@inherits QueryIlustrationViewBase
<div class="container">
    <div class="row">
        <div class="col-5">
            <TableOchestra
                Tables="@FromTables"
            />
        </div>
        
        <div class="col-2"></div>
        
        <div class="col-5">
            <TableOchestra
                Tables="ToTables"
            />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
            <button @onclick="OnPreviousStep">prev</button>
        </div>
        <div class="col-1"></div>
        
        <div class="col-2">
            <button @onclick="OnAnimateSteps">animate</button>
        </div>
        
        <div class="col-1"></div>
        
        <div class="col-2">
            <button @onclick="OnNextStep">next</button>
        </div>
    </div>
</div>