@rendermode InteractiveServer
@inherits QueryIllustrationViewBase
<div class="container">
    <div class="row">
        <div class="col-5">
            <TableOchestra
                Tables="@FromTables"
            />
        </div>
        
        <div class="col-2"></div>
        
        <div class="col-5">
            <TableOchestra
                Tables="ToTables"
            />
        </div>
    </div>
</div>