@rendermode InteractiveServer
@inherits QueryIllustrationViewBase

<div class="row">
    <div class="@(ShowAggregation ? "col-7" : "col-5")">
        <h3>Source</h3>
        <TableOchestra
            Tables="@FromTables"/>
    </div>

    @if (!ShowAggregation)
    {
        <div class="col-2"></div>
    }

    <div class="col-5">
        <h3>Result</h3>
        <TableOchestra
            Tables="ToTables"/>
    </div>
</div>