@inherits TableViewBase

<table class="table table-striped table-bordered table-sm">
    <thead class="table-dark table-header-sm">
    <tr>
        @foreach (var columnName in Table.ColumnNames)
        {
            <th scope="col">@columnName</th>
        }
    </tr>
    </thead>

    <tbody class="table-body-sm fw-bolder">
    @foreach (var entry in Table.Entries)
    {
        <tr>
            @foreach (var cell in entry)
            {
                <td>@cell</td>
            }
        </tr>
    }
    </tbody>
</table>