.table-header-sm th {
    font-size: 0.8rem;
}

.table-body-sm td {
    font-size: 0.75rem;
}

.aggregation-text-line {
    font-size: 0.75rem;
    text-align: left;
}

.border-top-left-radius {
    border-top-left-radius: 6px;
}

.cell {
    padding: 6px 8px;
}