@inherits TableOchestraBase
@if (Tables != null)
{
    <div class="table-orchestra">
        @foreach (var table in Tables)
        {
            <div class="table-orchestra__item">
                <TableView @key="@Guid.NewGuid()"
                    Table="table"/>
            </div>
        }
    </div>
}
else
{
    <p>Loading tables...</p>
}
