@rendermode InteractiveServer

<div class="toolbar">
    <div class="editor-part">
        <select name="sql-statements" @onchange="SelectChanged">
            @for (int i = 0; i < State.Queries.Count; i++)
            {
                <option value="@i">@State.Queries[i].Type</option>
            }
        </select>

        <button @onclick="RunQuery">
            <i class="bi bi-play-fill"></i>
        </button>
    </div>

    <div class="stepper">
        <button @onclick="StepPrevious">
            <i class="bi bi-chevron-left"></i>
        </button>
        2
        3
        4
        <button @onclick="StepNext">
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>
</div>
