.toolbar {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 8px;
    align-items: center;
}

.schema-part {
    width: 320px;
    align-items: center;
    display: flex;
}

.editor-part {
    flex-grow: 1;
    align-items: center;
    display: flex;
}

.sql-statements {
    margin-right: 16px;
}

button {
    border: none;
    border-radius: 5px;
}

.text-button {
    display: flex;
    align-items: center;
    padding-inline: 4px;
    margin-left: 4px;
}

.text-button__text {
    display: inline;
    margin-bottom: 0;
}

.stepper {
    display: flex;
    align-items: center;
}

.stepper__step {
    margin-bottom: 0;
    margin-inline: 4px;
}

.stepper__step--selected {
    color: orange;
}

.bi {
    font-size: 1.6em;
}

.bi-play-fill {
    color: green;
}

.animation-stepper {
    margin-left: 40px;
}

.info-button {
    margin-left: auto;
    justify-self: end;
}