@page "/"
@using visualizer.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div class="layout">
    <main>
        @if (viewVisulisation)
        {
            <QueryIlustrationView @ref="QueryView" Query="@_query"/>
        }
        else
        {
            <TableView @key="@Guid.NewGuid()"
                       Table="tableSelected"/>
        }
    </main>
    <ErrorPopup/>
    <div class="toolbar">
        <ToolBar 
            RunQueryCallback="RunQueryCallback"
            />
    </div>

    <div class="schema">
        <SchemaView 
            OnTableSelected="HandTabledSchemaTableSelected"
        />
    </div>

    <div class="editor">
        <EditorView />
    </div>
</div>
