@page "/"
@using visualizer.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div class="layout">
    
    <SchemaView OnTableSelected="HandTabledSchemaTableSelected" />
    
    <main class="main-content">
        <div class="view">
            @if (viewVisulisation)
            {
                <QueryIlustrationView @ref="QueryView" Query="@_query"/>
            }
            else
            {
                <TableView @key="@Guid.NewGuid()" Table="tableSelected"/>
            }
        </div>

        <ToolBar RunQueryCallback="RunQueryCallback" />
    
        <EditorView />
    </main>
</div>
