@page "/"
@using visualizer.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<CascadingValue Value="State">
<div class="layout">
    <main>
        <QueryIlustrationView @ref="QueryView" Query="@query" />
    </main>
    
    <div class="toolbar">
        <ToolBar />
    </div>

    <div class="schema">
        <SchemaView />
    </div>

    <div class="editor">
        <EditorView />
    </div>
</div>
</CascadingValue>
