@using visualizer.Components.Shared
@inherits LayoutComponentBase
@rendermode InteractiveServer

<Header></Header>

@Body

<footer class="status-bar">
    <!-- <span><span class="status-bar__dot">●</span> CONNECTED: LOCAL_DB_01</span> -->
    <span>V2.4.1-ACADEMIC</span>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>