.layout {
    height: 100%;
    display: grid;
    grid: 1fr 60px 260px / 320px 1fr;
    grid-template-areas: "main main" "toolbar toolbar" "schema editor";
}

main {
    grid-area: main;
    padding: 20px;
}

.toolbar {
    grid-area: toolbar;
    background: #E5E7EB;
}

.schema {
    grid-area: schema;
    background: #F1F5F9;
    overflow-y: scroll;
    height: 100%;
    padding: 8px;
}

.editor {
    grid-area: editor;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
