@inherits LayoutComponentBase

<div class="layout">
    <main>
        @Body
    </main>
    <div class="toolbar">
        Tool Bar
    </div>
    <div class="schema">
        Scheme
    </div>
    <div class="editor">
        Editor
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>